.work-section section {
  display: grid;
  grid-template-areas:
    'work-title'
    'work-body';
  grid-template-rows: auto 1fr;
}
#work-title {
  grid-area: work-title;
}

.work-content {
  grid-area: work-body;
  display: grid;
  grid-template-areas:
    'work-nav'
    'work-item';
  grid-template-rows: auto;
}
.work-content nav {
  grid-area: work-nav;
  margin-bottom: var(--padding-sm);
  padding: var(--padding-sm) 0px;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}
.work-content nav span {
  padding: var(--padding-sm);
  margin: 0 var(--padding-sm);
  color: var(--text-clr);
  border: solid 0.1rem var(--text-clr);
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.work-content nav span:hover,
.work-content nav span.active {
  color: var(--main-purple);
  border: solid 0.1rem var(--main-purple);
}
.work-content nav span.active {
  background-color: var(--main-purple);
  color: var(--main-offwhite);
  transition: all 0.3s ease;
  box-shadow: var(--bs);
}

.work-item {
  grid-area: work-item;
  display: grid;
  grid-template-areas:
    'work-position'
    'work-tenure'
    'work-content';
}

p.work-tenure {
  font-style: italic;
  margin: 0;
  grid-area: work-tenure;
  color: var(--text-clr);
}
p.work-position {
  font-weight: 600;
  margin: 0;
  grid-area: work-position;
  color: var(--text-clr);
}

p.work-position span {
  color: var(--main-purple);
}

.work-content ul {
  grid-area: work-content;
  line-height: 2;
  list-style: none; /* Remove default bullet points */
  padding-left: 0; /* Remove default left padding */
}

.work-content ul li {
  position: relative;
  padding-left: 1.5em;
}

.work-content ul li::before {
  content: '\25B6'; /* Unicode arrow right character */
  left: 0;
  position: absolute;
  color: var(--main-purple);
}

/* fly-in effect using observer in work component*/
@media (prefers-reduced-motion) {
  .hide-for-show {
    transition: none;
  }
}
.work-li.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.work-li:nth-child(2) {
  transition-delay: 200ms;
}
.work-li:nth-child(3) {
  transition-delay: 400ms;
}
.work-li:nth-child(4) {
  transition-delay: 600ms;
}
